NEXT_PUBLIC_INSTRUCTOR_EMAIL=firstname.lastname@sait.ca
NEXT_PUBLIC_INSTRUCTOR_FIRST_NAME=FirstName
NEXT_PUBLIC_INSTRUCTOR_FULL_NAME="FirstName LastName"

# Create your own Teams chat link by using the following link.
# Install: https://www.powershellgallery.com/packages/ExchangeOnlineManagement/3.0.0
# In PowerShell, run: Connect-ExchangeOnline
# In PowerShell, run: Get-Mailbox -Identity <your email> | Select-Object ExternalDirectoryObjectId
NEXT_PUBLIC_INSTRUCTOR_TEAMS_CHAT="https://teams.microsoft.com/l/chat/0/0?users=8:orgid:<ExternalDirectoryObjectId>"



